# 4.6 Combining & Exporting Data

## 01. Importing Libraries

In [3]:
#Import Libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data & Create Path

In [5]:
path = r'/Users/natalieaguilar/Documents/Instacart Basket Analysis'

In [6]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [7]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [8]:
#Check the dimensions of 'orders_products_prior'

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# Check the dimensions of the database

df_ords_prior.shape

(32434489, 4)

In [10]:
# Check the dimensions of 'orders_checked'

df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [11]:
# Check the dimensions of the database

df_ords.shape

(3421083, 7)

In [12]:
# Create a new data frame df_merged_large that combines 'orders_products_prior' with 'orders_checked' 

df_merge_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merge_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [14]:
df_merge_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [15]:
df_merge_large.shape

(32434489, 11)

In [16]:
# export data as pickle

df_merge_large = pd.read_pickle(os.path.join(path, '02 data', 'prepared data', 'orders_products_combined.pkl'))